<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.qinbang.quickrun">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
            android:name=".QuickRunApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="m">
        <activity
                android:name=".ui.BaseActivity"
                android:screenOrientation="portrait"
                >
        </activity>
        <activity
                android:name=".ui.ResetPasswordActivity"
                android:label="@string/menu_phone_edit"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.MainActivity2"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.FreightBillListActivity"
                android:label="@string/allocate_cargo_list">
        </activity>
        <activity
                android:name=".ui.ResetPhoneActivity"
                android:label="@string/menu_phone_edit"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.TransportRouteActivity"
                android:label="@string/transport_route"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.RiskReportingActivity"
                android:label="@string/risk_reporting"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.LossReportActivity"
                android:label="@string/loss_report"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.LoadingListActivity"
                android:label="@string/allocate_cargo_list"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.DeliveryOrderDetailActivity"
                android:label="货单详情"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.LoginActivity"
                android:label="@string/title_activity_login"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.qinbang.quickrun.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_private"/>
        </provider>
    </application>

</manifest>